@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font: "dejavu-sans-mono";
}

main#login {
    background-image: url("../assets/star-sky-space.webp");
    background-size: cover;
    height: 100vh;
}

main#questions,
main#rounds {
    background-image: url("../assets/super-star.jpg");
    background-size: cover;
    height: 100vh;
}

img {
    animation: chill infinite 2.7s;
    scale: 1.3;
}

.ques-links {
    @apply hover:scale-110 transition-all px-10 py-3 rounded-lg font-bold  bg-blue-800   text-black text-xl;
}

@keyframes chill {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1.5em);
    }
    100% {
        transform: translateY(0);
    }
}
