main#rounds {
    background-image: url('../assets/super-star.jpg');
    background-size: cover;
    height: 100vh;
}


.ques-links {
    /* background-image: linear-gradient(50deg,#c2a8c1,#8b2d87); */
    @apply  hover:scale-110 transition-all px-10 py-3 rounded-lg font-bold  bg-blue-800   text-black text-xl
    
}